<div class="row d-flex justify-content-center align-items-center mb-4">
  <div class="col-12">
    <div class="jumbotron">
      <h1 class="">BookLovers</h1>
      <p class="lead">O webapp perfeito para amantes de livros.</p>
      <hr class="my-4">
      <%= search_form_for @books_query, remote: true, class: 'inline-form' do |f| %>
        <div class="input-group">
          <div class="input-group-prepend">
            <%= sort_link(@books_query, :title, {}, { class: 'btn btn-outline-secondary', :remote => true, :method => :get } ) do %>
              <strong class="">Título</strong>
            <% end %>
          </div>
          <%= f.search_field :title_or_description_or_author_name_cont, class: 'form-control', placeholder: 'Qual livro deseja ler hoje?' %>
          <div class="input-group-append">
            <%= f.submit 'Buscar', class: "btn btn-outline-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if @categories.count > 0%>
  <% @categories.each do |category| %>
    <div class="splide">
      <h4><%= link_to category[:title], category_path(category[:id]), class: 'text-dark' %></h4>
	    <div class="splide__track">
        <div class="row splide__list">
          <% if category[:books].count > 0 %>
            <% category[:books].each do |book| %>
              <div class="splide__slide">
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <%= link_to book_path(book) do %>
                        <%= image_tag book.set_cover, class: 'card-img-top' %>
                      <% end %>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <%= link_to book_path(book) do %>
                          <h5 class="text-dark card-title"><%= book.title %></h5>
                        <% end %>
                        <p class="card-text"><%= book.description.first(40) %>...</p>
                        <p class="card-text"><small class="text-muted"><%= book.author_name %></small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>