<%= form_with model: @book, multipart: true do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title, placeholder: 'Ex: Game of Thrones', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descricão' %>
    <%= f.text_area :description, placeholder: 'Descricão', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :author_name, 'Nome do Autor' %>
    <%= f.text_field :author_name, placeholder: 'Ex: Stephen King', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cover, 'Capa do livro' %>
    <%= f.file_field :cover, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Salvar", class: 'btn btn-block btn-success shadow' %>
  </div>
<% end %>