<section class="books my-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow">
          <%= image_tag @book.set_cover, class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= @book.title %></h5>
            <p class="card-text"><%= @book.description %></p>
            <p><strong><%= @book.author_name %></strong></p>
          </div>
          <% if current_admin %>
            <div class="card-footer">
              <%= link_to 'Editar', edit_book_path(@book), class: 'btn btn-sm btn-info' %>
              <%= link_to 'Remover', book_path(@book), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-sm btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="book-comments" class="col-12 col-md-8 col-lg-6 align-self-start">
        <%= render 'comments' %>
      </div>
    </div>
  </div>  
</section>