<section class="books my-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow p-4">
          <h3><%= @book.title %></h3>
          <p><%= @book.description %></p>
          <p><strong><%= @book.author_name %></strong></p>
          <div class="card-footer">
            <%= link_to 'Editar', edit_book_path(@book), class: 'btn btn-sm btn-info' %>
            <%= link_to 'Remover', book_path(@book), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-sm btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>