<section class="users-books">
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h3>Meus Livros</h3>
      </div>
    </div>
    <div class="row">
      <% if @books.count > 0 %>
        <% @books.each do |book| %>
          <div class="col-12 col-md-6 col-lg-4 mb-2">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <%= link_to book_path(book) do %>
                    <%= image_tag book.set_cover, class: 'card-img-top' %>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <%= link_to book_path(book) do %>
                      <h5 class="text-dark card-title"><%= book.title %></h5>
                    <% end %>
                    <p class="card-text"><%= book.description.first(40) %>...</p>
                    <p class="card-text"><small class="text-muted"><%= book.author_name %></small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-12">
          <h3>Nenhum livro foi encontrado :(</h3>
        </div>
      <% end %>
    </div>
  </div>
</section>