<section class="categories">
  <div class="container my-5">
    <div class="row mb-2">
      <div class="col-12">
        <h3>Categorias</h3>
      </div>
      <div class="col-12">
        <%= link_to 'Adicionar Nova', new_category_path, class: 'btn btn-success btn-sm' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descricão</th>
                <th scope="col">Acões</th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <th scope="row"><%= category.id %></th>
                  <td><%= category.title %></td>
                  <td><%= category.description.first(20)... %></td>
                  <td>
                    <%= link_to 'Visualizar', category_path(category), class: 'btn btn-primary btn-sm' %>
                    <%= link_to 'Editar', edit_category_path(category), class: 'btn btn-info btn-sm' %>
                    <%= link_to 'Remover', category_path(category), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>