<!DOCTYPE html>
<html>
  <head>
    <title>Booklovers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render Layout::Navbar::Component.new %>
    <%- if alert %>
      <p><%= alert %></p>
    <%- elsif notice %>
      <p><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
