<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Pedro Souza">
    <meta name="description" content="BookLovers: O webapp perfeito para amantes de livros.">
    <%= favicon_link_tag 'favicon.png' %>
    <title>Booklovers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render Layout::Navbar::Component.new(member: current_member) %>
    <%= render Utils::Alert::Component.new(message: notice, type: 'success') %>
    <%= render Utils::Alert::Component.new(message: alert, type: 'warning') %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <h5>Sobre o projeto</h5>
            <p>BookLovers é um webapp opensource desenvolvido com Rails 6 e Bootstrap.</p>
          </div>
          <div class="col-12 col-md-6">
            <ul class="nav flex-column align-items-end">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" target="_blank" title="Github" href="https://github.com/opedrosouza/booklovers">Github</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" title="Facebook" href="https://www.facebook.com/opedrossouza/">Facebook</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text-center">Projeto feito com amor por <a href="https://pedrossouza.com.br" target="_blank" title="Pedro Souza">Pedro Souza</a>. MIT</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
